{% extends 'layout.html' %}
{% block content %}
<h1>Businesses</h1>

<table>
    <thead>
        <tr>
            <th>Business name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Email</th>
            <th>Phone no.</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ business.business_name }}</td>
            <td>{{ business.category }}</td>
            <td>{{ business.location }}</td>
            <td>{{ business.email }}</td>
            <td>{{ business.phone }}</td>
            {% if business.owner == current_user %}
                <td><a href="{{ url_for('update_business', business_id=business.id) }}">Update</a></td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endblock %}