{% extends 'layout.html' %}
{% block content %}
<h1>Business</h1>

<table>
    <thead>
        <tr>
            <th>Business name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Email</th>
            <th>Phone no.</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ business.business_name }}</td>
            <td>{{ business.category }}</td>
            <td>{{ business.location }}</td>
            <td>{{ business.email }}</td>
            <td>{{ business.phone }}</td>
            {% if business.owner != current_user %}
            <td><a href="{{ url_for('post_review', business_id=business.id) }}">Post Review</a></td>
            {% endif %}
            {% if business.owner == current_user %}
            <td><a href="{{ url_for('update_business', business_id=business.id) }}">Update</a></td>
            <td>
                <form method="POST" action="{{ url_for('delete_business', business_id=business.id) }}"><button class="error">Delete</button></form>
            </td>
            {% endif %}
        </tr>
    </tbody>
</table>
<div>
    {% for review in reviews %}
        <p>{{ review.title }}</p>
        <p>{{ review.content }}</p>
        <p>{{ review.date_posted.strftime('%Y-%m-%d') }}</p>
        <p>{{ review.author.username }}</p>
        <p>{{ review.business.business_name }}</p>
    {% endfor %}
</div>
{% endblock %}