body{
    font:16px/1.5 "Times New Roman",Times,sans-serif;
    padding:0;
    margin:0;
    background-color: lightslategrey;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

header{
    background:blue;
    color:white;
    font-size:16px;
    border-bottom: black 4px solid;
}

header a{
    color:white;
    text-decoration:none;
    font-size:20px;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header #title{
    float:left;
}

header nav{
    float:right;
    margin-top:24px;
}

.body {
    
    float: center;
    text-align: center;
    font-size:16px;
    color: white;
    font-style: oblique;
    font-weight: bold;
}

fieldset {
    width: 50%;
    margin: auto;
    float:center;
    text-align: center;
    font-size: 16px;
}

legend {
    font-size: 28px;
    
}

input, label {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightslategray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
}


input[type=submit] {
    width: 30%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}


footer{
    background: blue;
    color:white;
    text-align:center;
    position: fixed;
    bottom: 0;
    width:100%;
    padding:0;
    border-top: black 4px solid;
}
